*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{
  width: 800px;
}
.post{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 3px solid #1855d8;
  padding: 15px;
  margin-top: 20px;

}
.post__content{
  font-size: 20px;
}
.post__btn{
  display: flex;
}
.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.nav{
  width: 100vw;
  background-color: #0b3783;
}
.nav__items{
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #fff;
}
.nav__items a{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}